@charset "UTF-8";

/*
 * Version : 1.0
 * Date : 2026
 */
section[class$="_wrap"] {
    position: relative;
}
.return_top {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    color: var( --sub-font-color);
    width: 5.5rem;
    height: 5.5rem;
    position: fixed;
    right: 3%;
    bottom: 5%;
    z-index: 9;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}
header{
    position: fixed;
    width: 100%;
    height: 96px;
    z-index:999;
}
header.on{
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.header_wrap{
    padding: 0 5vw ;
    margin:0 auto;
    height: 100%;
    font-size: 2rem;
}
nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logo a{
    font-weight: bold;
    cursor: pointer;
}
.nav_ul{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: clamp(1.5rem, 2vw, 2.2rem);
}
.nav_ul li{
    margin-left: clamp(1rem, 2vw, 3rem);
    height: 100%;
}
.nav_ul a{
    display: flex;
    align-items:center;
    justify-content:center;
    height: 100%;
}
.nav_ul a:hover{
    color: var(--point-color)
}

/************** MAIN ****************/
section.main_wrap {
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
section.back{
    background: url(../img/main/book.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: .2;
}
section.main_wrap h1 {
    font-weight: 800;
    margin-bottom: 6rem;
    font-size: clamp(6rem, 8vw, 8rem);
    z-index: 2;
    position: relative;
    text-align: center;
    letter-spacing: -18px;
}
section.main_wrap h1 span{
    display: inline-block;
    /*height: clamp(75px, 7vw, 100px);*/
    background: url(../img/main/az.png) no-repeat;
    text-indent: -9999px;
    overflow: hidden;
    animation: bounceLetter 2.5s infinite ease-in-out;
}
@keyframes bounceLetter {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-12px);
  }
  60% {
    transform: translateY(-8px);
  }
}
section.main_wrap h1 span:nth-child(1){
    width: clamp(50px, 5vw, 70px);
    background-position: 54% 48%;
    background-size: 1125%;
    animation-delay: 0s;
}
section.main_wrap h1 span:nth-child(2){
    width: clamp(75px, 5vw, 95px);
    background-position: 43% 48%;
    background-size: 760%;
    animation-delay: 0.1s;
}
section.main_wrap h1 span:nth-child(3){
    width: clamp(65px, 5vw, 85px);
    background-position: 4% 63%;
    background-size: 1065%;
    animation-delay: 0.2s;
}
section.main_wrap h1 span:nth-child(4){
    width: clamp(60px, 5vw, 80px);
    background-position: 56% 63%;
    background-size: 847%;
    animation-delay: 0.3s;
}
section.main_wrap h1 span:nth-child(5){
    width: clamp(50px, 5vw, 70px);
    background-position: 43% 20%;
    background-size: 1125%;
    animation-delay: 0.4s;
}
section.main_wrap h1 span:nth-child(6){
    width: clamp(65px, 5vw, 85px);
    background-position: 29% 48%;
    background-size: 861%;
    animation-delay: 0.5s;
}
section.main_wrap h1 span:nth-child(7){
    width: clamp(50px, 5vw, 70px);
    background-position: 69% 34%;
    background-size: 1125%;
    animation-delay: 0.6s;
}
section.main_wrap h1 span:nth-child(8){
    width: clamp(35px, 5vw, 55px);
    background-position: 4% 33%;
    background-size: 1533%;
    animation-delay: 0.7s;
}
section.main_wrap h1 span:nth-child(9){
    width: clamp(75px, 5vw, 95px);
    background-position: 43% 48%;
    background-size: 760%;
    animation-delay: 0.8s;
}
section.main_wrap p{
    font-size: clamp(1.8rem, 2vw, 2rem);
    line-height: 1.8;
    z-index: 2;
}
.main_wrap{
    padding: 0 8vw;
    height: 100vh;
}

/************** WORK ****************/
.work_wrap{
    background-size: 90% auto;
    background: #fafafa url(../img/bg-txt-gray-1.png) no-repeat fixed center;
}
.work_inner h2{
    /*margin-bottom: 3rem;*/
    font-size: 4rem;
    font-weight: bold;
}
.work_list{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}
.work_list li{
    width: 48%;
    margin-bottom: 6rem;
}
.work_list a{
    display: inline-block;
    width: 100%;
}
.work_txt{
    margin-top: 2.4rem;
    padding-left: 1rem;
}
.work_txt h5{
    font-size: 3rem;
    font-size: clamp(2rem, 3vw, 3rem);
    font-weight: bold;
}
.work_txt p{
    font-size: 2.2rem;
    font-size: clamp(1.5rem, 2vw, 2.2rem);
    line-height: 2;
    color: var(--sub-font-color);
}

/************** ABOUT ****************/
.about_wrap{
    padding-bottom: 5vw;
}
.about_inner, .work_inner{
    padding: 96px 8vw;
    height: 100%;
}
.about_inner h2{
    font-size: 4rem;
    font-weight: bold;
}
.about_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2%;
}
.about_box .img_box{
    width: 30%;
}
.about_box .img_box .img_emoji{
    width: 100%;
}
.about_txt_box{
    width: 53%;
}
.about_txt{
    font-size: clamp(1.4rem, 1.8vw, 1.8rem);
    line-height: 1.4;
}
.about_txt p{
    margin-bottom: 1rem;
    word-wrap: break-word;
    letter-spacing: -.2px;
}
.career h3{
    margin-top: 2rem;
    font-size: clamp(2rem, 2.8vw, 2.8rem);
    font-weight: bold;
}
.career .about_txt li{margin: 1rem 0;}
.marquee {
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    mask-image: linear-gradient(
            var(--mask-direction, to right),
            hsl(0 0% 0% / 0),
            hsl(0 0% 0% / 1) 20%,
            hsl(0 0% 0% / 1) 80%,
            hsl(0 0% 0% / 0)
    );
}
.marquee img{
    transition: all .2s ease;
}
.marquee img:hover{
    scale:0.9;
}
@keyframes scroll-x {
    from {
        transform: translateX(var(--scroll-start));
    }
    to {
        transform: translateX(var(--scroll-end));
    }
}

.marquee_group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll-x var(--duration) linear infinite;
}

/************** CONTACT ****************/
.footer_wrap{
    height: 100vh;
}
.contact_center {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.footer_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 3rem;
    position: relative;
}

.contact p{
    position: relative;
}

.copyright {
    position: absolute;
    bottom: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    color: #a9a9a9;
    line-height: 1.5;
}

.contact_txt_1 {
    font-size: 4rem;
    font-size: clamp(2.4rem, 4vw, 4rem);
}
.contact_txt_2 {
    font-size: 2rem;
    font-size: clamp(1.8rem, 2vw, 2rem);
    line-height: 1.6;
}

.word{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.copy_text {
    margin-top: 20px;
    place-self: flex-end;
    font-size: clamp(1.4rem, 2vw, 2rem);
}

.copy_tooltip{
    position: fixed;
    background: #333;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: clamp(1.2rem, 2vw, 1.4rem);
    opacity: 0;
    transition: all 0.3s ease;
}

.copy_tooltip.show {
  opacity: 1;
}

.letter{
    display: inline-block;
    transform: translateY(20px);
    opacity: 0;
    transition: all 500ms ease-in;
    font-size: 8rem;
    font-size: clamp(2rem, 8vw, 8rem);
    font-weight: bold;
}

.letter.on{
    transform: none;
    opacity: 1;
}

@media screen and (max-width: 1440px){
    .about_box .img_box{
        width: 40%;
    }
    .about_box.career div{
        width: 100%;
        margin-bottom: 2rem;
    }
}
@media screen and (max-width: 1000px){
    .about_inner, .work_inner{
    padding: 80px 8vw;
    }
    .about_txt_box{
        width: 100%;
        margin-top: 2rem;
    }
    .about_box .img_box{
        width: 60%;
    }
    .marquee,.marquee img{
        height: 5rem;
    }
    header{
        height: 80px;
    }
    /*.nav_ul{display: none}*/
      .work_list li{
        width: 100%;
        margin-bottom: 4rem;
    }

}
@media screen and (max-width: 600px){
    section.main_wrap{
        align-items: center;
    }
  
    .work_txt{
        margin-top: 1.6rem;
    }
    .work_list img{
        border-radius: 10px;
    }
    .marquee_group {
        gap:4rem;
    }
    .marquee,.marquee img{
        height: 4rem;
    }
    .footer_wrap{
        padding: 0 2vw;
    }
    .copyright {
        flex-direction: column-reverse;
        gap: 4rem;
    }
    .m-block{
        display: block;
    }
    .p-block{display: none}
    .projet_list li .projet_text{
        flex-direction:column;
        justify-content:start;
        align-items:flex-start;
        gap: .5rem;
    }
  .projet_list li .projet_text h5,.projet_list li .projet_text p.hash{
      width: 100%;
  }
}