@charset "UTF-8";

/*
 * Version : 1.0
 * Date : 2024-07
 */
.m-block{
    display: none;
}
section[class$="_wrap"] {
    position: relative;
}
.return-top {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    color: var( --sub-font-color);
    width: 5.5rem;
    height: 5.5rem;
    position: fixed;
    right: 3%;
    bottom: 5%;
    z-index: 9;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}
header{
    position: fixed;
    width: 100%;
    height: 96px;
    z-index:999;
}
header.on{
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.header_wrap{
    padding: 0 5vw ;
    margin:0 auto;
    height: 100%;
    font-size: 2rem;
}
nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logo a{
    font-weight: bold;
}
.nav_ul{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_ul li{height: 100%;}
.nav_ul a{
    display: flex;
    align-items:center;
    justify-content:center;
    height: 100%;
}
.nav_ul a:hover{
    color: var(--point-color)
}
/************** MAIN ****************/


section.main_wrap {
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

section.main_wrap h1 {
    font-weight: 800;
    margin-bottom: 6rem;
    font-size: clamp(6rem, 8vw, 8rem);
    z-index: 2;
    position: relative;
}
section.main_wrap p{
    font-size: clamp(1.8rem, 2vw, 2rem);
    line-height: 1.8;
    z-index: 2;
}
.blur {
    position: absolute;
    z-index: 1;
    border-radius: 900px;
    filter: blur(var(--blur-amount));
    background: var(--color);
}

.blur:nth-child(1) {
    height: var(--blur-1-size);
    width: calc(var(--blur-1-size) * 1.1);
}

.blur:nth-child(2) {
    filter: blur(var(--blur-amount)) hue-rotate(135deg) brightness(1.3);
    height: var(--blur-2-size);
    width: calc(var(--blur-2-size) * 0.75);
    top: 20vh;
    right: 20vh;
}

.blur:nth-child(3) {
    filter: blur(var(--blur-amount)) hue-rotate(-135deg);
    height: var(--blur-3-size);
    width: calc(var(--blur-3-size) * 2);
    bottom: 20vh;
    left: 20vw;
}

.main_wrap{
    padding: 0 8vw;
    height: 100vh;
}
.credit {
    position: relative;
    margin-top: 3rem;
    width: 100%;
    text-align: center;
    z-index: 2;
}

/************** ABOUT ****************/
.about_wrap{
    padding-bottom: 5vw;
}
.about_inner, .work_inner{
    padding: 6vw 8vw;
    height: 100%;
}
.about_inner h2{
    margin-bottom: 6rem;
    font-size: 4rem;
    font-weight: bold;
}
.about_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2%;
}
.signature{
    width: 15rem;
    height: 5rem;
    background: url("../img/about/signature.svg") 0 0 no-repeat;
    background-size: 100% auto;
}
.about_box .img_box{
    width: 30%;
}
.about_box .img_box .img_emoji{width: 100%;}
.about_txt_box{
    width: 53%;
}
.about_txt{
    font-size: clamp(1.6rem, 1.8vw, 1.8rem);
    line-height: 1.4;
}
.about_txt p{
    margin-bottom: 2rem;
    word-wrap: break-word;
    letter-spacing: -.2px;
}
.career h3{
    font-size: clamp(2rem, 2.8vw, 2.8rem);
    font-weight: bold;
}
.career .about_txt li{margin: 1rem 0;}
.marquee {
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    mask-image: linear-gradient(
            var(--mask-direction, to right),
            hsl(0 0% 0% / 0),
            hsl(0 0% 0% / 1) 20%,
            hsl(0 0% 0% / 1) 80%,
            hsl(0 0% 0% / 0)
    );
}
.marquee img{
    transition: all .2s ease;
}
.marquee img:hover{
    scale:0.9;
}
@keyframes scroll-x {
    from {
        transform: translateX(var(--scroll-start));
    }
    to {
        transform: translateX(var(--scroll-end));
    }
}

.marquee_group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll-x var(--duration) linear infinite;
}
/************** WORK ****************/
.work_wrap{
    background-size: 90% auto;
    background: #fafafa url(../img/bg-txt-gray-1.png) no-repeat fixed center;
}
.work_inner h2{
    /*margin-bottom: 3rem;*/
    font-size: 4rem;
    font-weight: bold;
}
.work_list{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}
.work_list li{
    width: 48%;
    margin-bottom: 6rem;
}
.work_list a{
    display: inline-block;
    width: 100%;
}
.work_list img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 3px 0 7px rgb(108 108 108 / 10%);
}
.work_txt{
    margin-top: 2.4rem;
    padding-left: 1rem;
}
.work_txt h5{
    font-size: 3rem;
    font-size: clamp(2rem, 3vw, 3rem);
    font-weight: bold;
}
.work_txt p{
    font-size: 2.2rem;
    font-size: clamp(1.5rem, 2vw, 2.2rem);
    line-height: 2;
    color: var(--sub-font-color);
}
/************** CONTACT ****************/
.footer_wrap{
    height: 100vh;
}
.contact_center {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.footer_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 3rem;
    position: relative;
}

.contact p{
    position: relative;
}

.copyright {
    position: absolute;
    bottom: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    color: #a9a9a9;
    line-height: 1.5;
}

.contact_txt_1 {
    font-size: 4rem;
    font-size: clamp(2.4rem, 4vw, 4rem);
}
.contact_txt_2 {
    font-size: 2rem;
    font-size: clamp(1.8rem, 2vw, 2rem);
    line-height: 1.6;
}

.word{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.copy_text {
    place-self: flex-end;
    font-size: 2rem;
}

.letter{
    display: inline-block;
    transform: translateY(20px);
    opacity: 0;
    transition: all 500ms ease-in;
    font-size: 8rem;
    font-size: clamp(2rem, 8vw, 8rem);
    font-weight: bold;
}

.letter.on{
    transform: none;
    opacity: 1;
}

@media screen and (max-width: 1440px){
    .about_box .img_box{
        width: 40%;
    }
    .about_box.career div{
        width: 100%;
        margin-bottom: 2rem;
    }
}
@media screen and (max-width: 1000px){
    .about_txt_box{
        width: 100%;
        margin-top: 4rem;
    }
    .about_box .img_box{
        width: 60%;
    }
    .marquee,.marquee img{
        height: 5rem;
    }
    header{
        height: 80px;
    }
    .nav_ul{display: none}
      .work_list li{
        width: 100%;
        margin-bottom: 4rem;
    }

}
@media screen and (max-width: 600px){
    section.main_wrap{
        align-items: center;
    }
  
    .work_txt{
        margin-top: 1.6rem;
    }
    .work_list img{
        border-radius: 10px;
    }
    .marquee_group {
        gap:4rem;
    }
    .marquee,.marquee img{
        height: 4rem;
    }
    .footer_wrap{
        padding: 0 2vw;
    }
    .copyright {
        flex-direction: column-reverse;
        gap: 4rem;
    }
    .m-block{
        display: block;
    }
    .p-block{display: none}
    .projet_list li .projet_text{
        flex-direction:column;
        justify-content:start;
        align-items:flex-start;
        gap: .5rem;
    }
  .projet_list li .projet_text h5,.projet_list li .projet_text p.hash{
      width: 100%;
  }
}